extends layout 

block content
  div(id='header')
    a(class='logo' href='/') Fakturownia
    div(id='accountControls')
      p
        | Użytkownik: 
        a(href='/uzytkownik')
          span(class='iconSpace')
            i(class='fa-solid fa-user')
          | #{user.username}
      span |
      p
        a(href='/log-out')
          span(class='iconSpace')
            i(class='fa-solid fa-power-off')
          | Wyloguj się
    div(class='bars')
      i(class='fa-solid fa-bars')

  div(id='wrapper')
    div(id='leftPanel')
      ul
        li
          a(href="/wystaw-fakture") Wystaw fakturę
        li
          a(href="/") Lista faktur

      div       
        p Zalogowano jako: 
          a(href='/uzytkownik') #{user.username}
        a(href="/log-out") Wyloguj

    div(id='main')
      block main