extends layout 

block content
  div(style={display: 'flex', gap: '20px'})
    div(style={padding: '15px', 'border-right': 'solid 1px black'})
      ul
        li
          a(href="/wystaw-fakture") Wystaw fakturę
        li
          a(href="/") Lista faktur
      div(style={'border-top': 'solid black 1px'})        
        p Zalogowano jako: 
          a(href='/uzytkownik') #{user.username}
        a(href="/log-out") Wyloguj
    //- div(style={margin: 'auto'})
    div#watch(style={display: "inline-block", flex: "1"})
      block main