extends layout

block content
  div(class='signInBox marginTopMd marginAuto')
    div(class='logoHolder center marginBottomLg')
      a(class='logo' href='/') Fakturownia

    div(class='width60 marginAuto')
      form(action='/log-in' method='POST')
        if typeof message!==undefined
          p(class='error marginBottomLg block') #{message}
        label(for='username' class='marginBottomSm block') Nazwa użytkownika:
        input(type='text' class='signInInput marginBottomLg block fullWidth' name='username' required='true')
        label(for='password' class='marginBottomSm block') Hasło:
        input(type='password' class='signInInput marginBottomLg block fullWidth' name='password' required='true')

        button(type='submit' class='flatButton marginBottomLg block marginAuto') Zaloguj się

        div(class='text-center')
          span(class='marginBottomLg block')
            a(href='#' onclick='loginToDemo()' class='marginBottomMd') Zaloguj się
            |  na konto demonstracyjne.
          a(href='/rejestracja') Utwórz konto
    // including HTML as text in a Pug/Jade file will parse into Pug:
    | <script>function loginToDemo() {document.querySelector('[name="username"]').value = 'pepe'; document.querySelector('[name="password"]').value = 'frogger'; document.querySelector('form').submit()};</script>


