extends layout

block content
  div(class='signInBox marginTopMd marginAuto')
    div(class='logoHolder center marginBottomLg')
      a(class='logo' href='/') Fakturownia

    div(class='width60 marginAuto')
      form(action='' method='POST')
        if typeof message!==undefined 
          p(class='errormarginBottomLg block') #{message}

        label(for='username' class='marginBottomSm block') Wybierz nazwę użytkownika
          span(aria-label='required') *
        input(class='signInInput' type='text' name='username' class='marginBottomLg block fullWidth' required value=username)
        label(for='password' class='marginBottomSm block') Hasło
          span(aria-label='required') * 
          | (musi mieć conajmniej 6 znaków)
        input(class='signInInput' type='password' name='password' class='marginBottomLg block fullWidth' minlength='6' maxlength='18' required)
        div(class='text-center')
          button(type='submit' class="flatButton marginBottomMd block marginAuto") Utwórz konto
          a(href='/') Zaloguj się