* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;  
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #333333;
  margin: 0;
}

a {
  color: #00B7FF;
}

table {
	border-collapse: collapse;
	letter-spacing: 1px;
	font-size: 0.8rem;
}

td {
  text-align: center;
  min-width: 35px;
  height: 35px;
}

.padding {
  padding: 20px;
}

.paddingLBR {
  padding: 0 20px 20px 20px;
}

.logo {
  display: inline-block;
  margin-bottom: 16px;
  margin-top: 0;
  font-family: 'Exo 2', Arial, sans-serif;
  color: #3498db;
  text-decoration: none;
  font-size: 2em;
}

.logo:hover {
  color: #2980b9;
}

.logo:active {
  color: #1e6fa0;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

#header p, .logo {
  margin: 0;
}

#accountControls {
  display: flex;
  gap: 5px;
  font-size: small;
}

.iconSpace {
  display: inline-block;
  width: 15px;
}

.bars {
  display: none;
  width: 15px;
}

#wrapper {
  flex: 1;
  display: flex;
}

#leftPanel {
  flex-shrink: 0;
  background-color: #F5F5F5;
  padding: 10px;
}

#main {
  width: 100%;
  border: 1px solid red;
  padding: 10px;
}

.center {
	display: flex;
	justify-content: center;
}

.centerVert {
  display: flex;
  align-items: center;
}

.signInBox {
	max-width: 350px;
	padding: 50px;
	border: 1px solid #DDD;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

label,
input,
button {
  display: block;
  margin-bottom: 12px;
}

form input:last-of-type {
  margin-bottom: 30px;
}

.signInInput {
  outline: none;
  border: none;
  border-bottom: 2px solid #ccc;
}

.signInInput:focus {
  border-bottom-color: #00B7FF;
}

.removeButton {
  border: 1px solid blue;
  width: 1.5em;
  height: 1.5em;
  border-radius: 15px;
  color: blue;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-flex;
  justify-content: center;
}

.tooltip:hover {
  cursor: pointer;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  position: absolute;
  right: 105%;
  z-index: 1;
}

#popup {
  display: none;
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid black;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0,0.5);
  z-index: 1;
  display: none;
}

#buyerWrapper {
  position: relative;
}

#dropdown {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  background-color: white;
  display: none;
  max-height: 100px;
  width: 200px;
  border: 1px solid black;
  overflow-y: scroll;  
}

/* button styles ⬇️ */
.flat-button {
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  background-color: #3498db;
  color: #fff;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.flat-button:hover {
  background-color: #2980b9;
}

.flat-button:active {
  background-color: #1e6fa0;
}

.error {
  color: red;
}

/* month selector ⬇️ */

#monthSelector {
  display:flex;
  gap: 10px;
  flex-wrap: wrap;
  color: #fff;
  font-size: 0.9rem;
  padding: 15px;
  background-color: #3498db;
}

.monthBtn {
  min-width: 30px;
  min-height: 30px;
  cursor: pointer;
}

#selectedMonth {
  color:#3498db;
  background-color: #fff;
  border-radius: 3px;
}

/* invoice list ⬇️ */

#invoiceList {
	border: 2px solid rgb(200,200,200);
  table-layout: auto;

}

#invoiceList td, th {
  white-space: nowrap;
	border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
}

#widest {
  width: 100%;
  white-space: normal !important;
}

@media (max-width: 600px) {

  #wrapper {
    display: block;
  }

  .bars {
    display: inline-block;
  }

  #accountControls {
    display: none;
  }
}