/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
  --font-basic: #333;
  --light-blue: #3498db;
  --dim-blue: #2980b9;
  --bg-bone: #F5F5F5;
  --border-light: #ccc;

  --margin-sm: 0.5em;
  --margin-md: 1em;
  --margin-lg: 1.5em;

  --gap-sm: 0.5em;
  --gap-md: 1em;
}

* {
  box-sizing: border-box;
  outline-color: var(--light-blue,#3498db);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;  
  font-family: Helvetica, Arial, sans-serif;
  color: var(--font-basic, #333);
  margin: 0;
}

a {
  color: var(--light-blue, #3498db);
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* ⬇ Table stuff */

table {
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
	font-size: 0.8em;
  margin-bottom: 12px;
}

.tableOverflowWrapper {
  overflow: scroll;
  position: relative; /* fixes partial no-scroll on devtools mobile 75% when there are elements above and below */
}

td {
  text-align: center;
  min-width: 35px;
  height: 35px;
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
}

table input{
  width: 100%; /* prevents inputs from adopting their own width and messing up everything */
}

#widestTH {
  width: 100%; /* makes the invoice item th the widest when in web view */
}

h3 {
  margin-top: 0;
}

strong {
  font-weight: bold;
}

button {
  display: block;
}

input, select {
  padding: 2px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
}

select {
  color: var(--font-basic, #333);
}

.logo {
  display: inline-block;
  margin-bottom: 16px;
  margin-top: 0;
  font-family: 'Exo 2', Arial, sans-serif;
  color: var(--light-blue,#3498db);
  text-decoration: none;
  font-size: 2em;
}

.logo:hover {
  color: var(--dim-blue, #2980b9);
}

.logo:active {
  color: #1e6fa0;
}

.logoHolder {
  background-color: var(--light-blue);
  padding: 30px;
}
.logoHolder a {
  color: #FFF;
}
.logoHolder a:hover {
  color: #EEE;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

#header p, .logo {
  margin: 0;
}

#accountControls {
  display: flex;
  gap: 5px;
  font-size: small;
}

.iconSpace {
  display: inline-block;
  width: 15px;
}

#bars {
  display: none;
  width: 15px;
}

#wrapper {
  flex: 1;
  display: flex;
}

#menu {
  flex-shrink: 0;
  background-color: var(--bg-bone, #F5F5F5);
  border-right: 1px solid var(--border-light, #ccc);
  overflow: hidden;
  transition: max-height 0.4s ease-in;
}

#menuBg {
  padding-bottom: 1px;
  background-color: #EEE;
}

.menuItem {
  font-size: 0.9em;
  gap: 10px;
  margin-top: 1px;
  padding: 20px;
  background-color: #fff;
  cursor: pointer;
}

.menuItem:first-child {
  margin-top: 0;
}

.onlyMobile {
  display: none !important;
}

#main {
  width: 100%;
  padding: 10px;
}

.tdAlignLeft {
  text-align: left;
}

.text-center {
  text-align: center;
}

.center {
	display: flex;
	justify-content: center;
}

.centerVert {
  display: flex;
  align-items: center;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
}

.signInBox {
	width: 300px;
	border: 1px solid var(--border-light);
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding-bottom: 40px;
}

.signInInput {
  outline: none;
  border: none;
  border-bottom: 2px solid #ccc;
}

.signInInput:focus {
  border-bottom-color: var(--light-blue);
}

.flexWrapGap {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-sm);
}
.flexWrapGap .centerSelf {
  align-self: center;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
}

.flexContainer .col {
  flex: 1;
  margin-bottom: var(--margin-md);
}

.flexContainer .col.small {
  max-width: 400px;
}

.noMarginBottom {
  margin-bottom: 0 !important;
}

.tooltip {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.tooltip:hover {
  cursor: pointer;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #fff;
  color: #333;
  text-align: center;
  padding: 5px;
  border: 1px solid red;
  position: absolute;
  right: 130%;
  z-index: 1;
}

.popup {
  display: none;
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px 40px;
  border: 2px solid var(--border-light);
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0,0.5);
  z-index: 1;
  display: none;
}

.positionRelative {
  position: relative;
}

#dropdown {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  display: none;
  max-height: 6em;
  width: 100%;
  border: 1px solid #3498db;
  overflow-y: scroll;
  z-index: 1;  
}

.dropdownItem {
  padding: 0.5em;
  border-top: 1px solid #3498db;
}

.dropdownItem:first-of-type {
  border-top: none;
}

.dropdownItem:hover {
  color: #fff;
  background-color: var(--dim-blue);
  cursor: pointer;
}

td>input {
  margin: auto;
}

/* button styles ⬇️ */
.flatButton {
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  background-color: var(--light-blue);
  color: #fff;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.flatButton:hover {
  background-color: var(--dim-blue);
}

.flatButton:active {
  background-color: #1e6fa0;
}

.flatButton.small {
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 2px;
}

.flatButton.pushRight {
  margin-left: auto;
}

.maxWidthAutoMargins {
  width: max-content;
  margin-right: auto;
  margin-left: auto;
}

#popup .multipleBtnY {
  margin-top: 24px;
}

#summary {
  margin-bottom: 12px;
}

.error {
  color: red;
}

/* month selector ⬇️ */

#monthSelector {
  display:flex;
  gap: 10px;
  flex-wrap: wrap;
  color: #fff;
  font-size: 0.9em;
  padding: 15px;
  margin-bottom: 10px;
  background-color: var(--light-blue);
}

.monthBtn {
  min-width: 30px;
  min-height: 30px;
  cursor: pointer;
}

#selectedMonth {
  color: var(--light-blue);
  background-color: #fff;
  border-radius: 3px;
}

/* invoice list ⬇️ */

#invoiceList td, th {
  white-space: nowrap;
	border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
}

.widest {
  width: 100%;
  white-space: normal !important;
}

/* ⬇️ Utils */

.divider {
  margin-top: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid #ccc;
}

.highlight {
  color: var(--light-blue);
}

.block {
  display: block;
}

.inlineBlock {
  display: inline-block;
}

.marginBottomSm {
  margin-bottom: var(--margin-sm, 0.5em);
}
.marginBottomMd {
  margin-bottom: var(--margin-md, 0.5em);
}
.marginBottomLg {
  margin-bottom: var(--margin-lg, 1.5em);
}
.marginTopMd {
  margin-top: var(--margin-md, 0.5em);
}

.whiteSpaceNoWrap {
  white-space: nowrap;
}

/* ⬇ gridTwoCol */

.gridTwoCol {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-gap: var(--gap-md);
  justify-items: start;
  align-items: center;
}
.gridTwoCol.modified {
  grid-template-columns: max-content min-content;
}
.gridTwoCol .centerSelfY {
  align-self: center;
}
.alignSelfStart {
  align-self: start;
}
.justifySelfEnd {
  justify-self: end;
}
.justifySelfStretch {
  justify-self: stretch;
}

.fullWidth {
  width: 100%;
}

.width60 {
  width: 60%;
}

.marginAuto {
  margin-right: auto;
  margin-left: auto;
}

/* ⬇ marginRight */

.marginRight {
  margin-right: 0.5em;
}

@media (min-width: 601px) {
  .menuItem:hover, .active {
    background-color: #eff5fb;
    border-color: var(--light-blue);
    border-top-width: 2px;
    border-top-style: solid;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    padding-top: 18px;
    padding-bottom: 18px;
  }


  .justifyEndAlignRight {
    justify-self: end;
    text-align: right;
  }

  .fullWidthWeb {
    width: 100%;
  }
}

@media (max-width: 600px) {
  #bars {
    display: inline-block;
  }
  
  #wrapper {
    display: block;
  }

  #menu {
    max-height: 0;
    border-right: 0;
  }

  .onlyMobile {
    display: flex !important;
  }

  #accountControls {
    display: none;
  }

  .flexContainer {
    display: block;
  }

  .flexContainer .col {
    margin-bottom: var(--margin-lg);
  }

  .flatButton.pushRight {
    margin-left: unset;
  }

  #popup {
    padding: 30px 50px;
  }

  .gridTwoCol {
    display: block;
  }
  
  .mbMobile {
    margin-bottom: var(--margin-sm);
  }

  .mbWidthMinContent {
    width: min-content;
  }
}